@font-face {
    font-family: 'Ginto';
    src: url('assets/fonts/Ginto.ttf');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}